<section>
    <h2>Home</h2>
    <h2>Welcome {{sessionInfo}}</h2>
    <br>
    <a class="auth" href="issues/createIssue">Create Issue</a>

    <a class="auth" href="/profile"> View Your Profile</a>

    <a class="auth" href="/ViewAllMyIssues">View All My Issues</a><br><br>

    <form id="login-form" method="GET" action="/logout">
        <button type="submit">Logout</button>
    </form>

    <p class="inline">Current Location: </p>
    <p id=city class="location"></p>
    <p class="inline">, </p>
    <p id=state class="location"></p>

    <form method="POST" action="/viewNearbyIssues">
        <input hidden name="latitude" id="latitude">
        <input hidden name="longitude" id="longitude">
        <label for="radius">Radius: </label>
        {{#if radius}}
            <input type="number" id="radius" name="radius" value="{{radius}}" min="0">
        {{else}}
            <input type="number" id="radius" name="radius" value="0" min="0">
        {{/if}}
        <p class="inline">km</p>
        <button type="submit">View Nearby Issues</button>
    </form>

    <div id="map"></div>
    <script>

      // The following example creates a marker in Stockholm, Sweden using a DROP
      // animation. Clicking on the marker will toggle the animation between a BOUNCE
      // animation and no animation.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 59.325, lng: 18.070}
        });
        let loc, pos;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                document.getElementById("latitude").value = pos.lat;
                document.getElementById("longitude").value = pos.lng;
                document.getElementById("latitude1").value = pos.lat;
                document.getElementById("longitude1").value = pos.lng;
                var geocoder = new google.maps.Geocoder();
                var infowindow = new google.maps.InfoWindow();
                geocode(geocoder, pos, infowindow);
                map.setCenter(pos);
                var date = new Date();
                var formatted_date = date.getFullYear().toString() + '-' +
                                    (date.getMonth() + 1).toString().padStart(2, 0) +
                                    '-' + date.getDate().toString().padStart(2, 0);

                document.getElementById("date1").value = formatted_date;
            });
        }
        {{#each issueList}}
            var marker = new google.maps.Marker({
              map: map,
              position: { lat: {{this.latitude}}, lng: {{this.longitude}} }
            });
            var infowindow = new google.maps.InfoWindow();
            infowindow.setContent("{{this.name}}");
            infowindow.open(map, marker);
        {{/each}}

      }

      function geocode(geocoder, pos) {
          geocoder.geocode({'location': pos}, function(results, status) {
              if (status == 'OK') {
                  if (results[0]) {
                      const addr = results[0].address_components;
                      const city = addr.find(obj => JSON.stringify(obj.types) == JSON.stringify(["locality", "political"]));
                      const state = addr.find(obj => JSON.stringify(obj.types) == JSON.stringify(["administrative_area_level_1", "political"]));
                      document.getElementById("city").textContent = city.short_name;
                      document.getElementById("state").textContent = state.long_name;
                      document.getElementById("city1").value = city.short_name;
                      document.getElementById("state1").value = state.long_name;
                  }
              }
          });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs-DaFuYDPJ1ThmZywl6Ve2AMTB03iSGI&callback=initMap">
    </script>

    <form id="createIssue">
        <label for="name">Issue Name </label>
        <input type="text" id="name" name="name" required>
        <label for="category">Issue Category </label>
        <select id="category" name="category">
            <option value="Garbage Dump">Garbage Dump</option>
            <option value="Wrong Parking">Wrong Parking</option>
            <option value="Bad Roads">Bad Roads</option>
        </select>
        <input hidden name="latitude" id="latitude1">
        <input hidden name="longitude" id="longitude1">
        <input id="city1" name="city" hidden>
        <input id="state1" name="state" hidden>
        <input type="date" id="date1" name="date" hidden>
        <button type="submit">Submit</button>
    </form>

    {{#if issueList}}
        <h2>Issues Feed</h2>
    {{/if}}
    <div id="feed">
        {{#each issueList}}
            <div data-toggle="collapse" data-target="#{{this._id}}" class="panel-heading">
                <h3 class="panel-title">
                  {{this.name}}
                </h3>
                <form method="POST" action="/issues/like/{{this._id}}">
                    <p class="inline">{{this.likes}}</p>
                    <button class="icons" type="submit">Like</button>
                </form>
            </div>
            <div id="{{this._id}}" class="collapse">
                <p><label>Category</label> : {{this.category}}</p>
                <p><label>Date</label>: {{this.date}}</p>
                <p><label>Latitude</label>: {{this.latitude}}</p>
                <p><label>Longitude</label>: {{this.longitude}}</p>
                <p><label>City</label>: {{this.city}}</p>
                <p><label>State</label> : {{this.state}}</p>
                <p><label>Status</label> : {{this.status}}</p>
                <!-- {{#if (open status)}}
                    <form method="POST" action="/issues/close/{{this._id}}">
                        <button type="submit">Close Issue</button>
                    </form>
                {{else}}
                    <form method="POST" action="/issues/open/{{this._id}}">
                        <button type="submit">Open Issue</button>
                    </form>
                {{/if}} -->
                <p><label>Comments</label></p>
                {{#each this.comments}}
                    <p><label>{{this.name}}</label> : {{this.content}}</p>
                {{/each}}
                <form method="POST" action="/issues/comment/{{this._id}}">
                    <textarea name="content" cols="40" rows="5"></textarea>
                    <button type="submit">Comment</button>
                </form>
            </div>
        {{/each}}
    </div>

</section>
<script src="/script.js"></script>
