<h2>Your Profile Details</h2>
<a class="auth" href="/userhome">Go Home</a>
<form id="login-form" method="GET" action="/logout">
    <button type="submit">Logout</button>
</form>
<p>Welcome {{sessionInfo}}</p>
<p><label>First Name</label> : {{newUser.firstName}}</p>
<p><label>Last Name</label>: {{newUser.lastName}}</p>
<p><label>Email</label>: {{newUser.email}}</p>
<p><label>City</label>: {{newUser.city}}</p>
<p><label>State</label> : {{newUser.state}}</p>


<a class="auth" href="/profileupdate"> Update Your Profile</a>
<br>
<br>
<br>


{{!-- <a href="/deleteAccount"> Delete Your Account</a> --}}
<form id="logout" method="GET" action="/deleteAccount">
    <button type="submit" onclick="return confirm('Are you sure you want to proceed?');">Delete Account</button>
    <br>
    <br>
</form>

<p class="dim">This will delete all posted issues and your account permanently!</p>
