<h2>Profile Update Successful</h2>

<p><label>First Name</label> : {{newUser.firstName}}</p>
<p><label>Last Name</label>: {{newUser.lastName}}</p>
<p><label>Email</label>: {{newUser.email}}</p>
<p><label>City</label>: {{newUser.city}}</p>
<p><label>State</label> : {{newUser.state}}</p>

{{!-- <form id="login-form" method="GET" action="/profileupdate">

    <button type="submit">Update Profile</button>
    <br>
    <br>
</form> --}}

<a class="auth" href="/userhome">Home</a>
