<html lang = "en">
<head>
    <title>User Details</title>
</head>
<body>
    <main>
       First Name: {{firstName}}
       Last Name: {{lastName}}<br>
       User Name: {{username}}<br>
       Profession: {{profession}}<br>
       Bio: {{bio}}
    </main>
    <a href = "/logout">LogOut</a>
</body>
</html>